@font-face {
    font-family: 'Exo 2';
    src: url('Exo2.0-Thin-webfont.eot');
    src: url('Exo2.0-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2.0-Thin-webfont.woff') format('woff'),
         url('Exo2.0-Thin-webfont.ttf') format('truetype'),
         url('Exo2.0-Thin-webfont.svg#exo_2.0thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

