.home {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.home > div {
  flex: 1 1 auto;
  text-align: center;
}
.home h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}
.home .app-logo {
  width: 25%;
  height: auto;
}

.item-list {
  display: inline-flex;
  flex-direction: column;
}
.item-list .item {
  display: inline-block;
  padding: 10px;
  border: 1px solid #21252b;
}

.app-logo .flame1 {
  fill: #c41a0c;
  fill-opacity: 1;
  stroke: none;
}
.app-logo .flame2 {
  fill: #e72727;
  fill-opacity: 0.41176471;
  stroke: none;
}
.app-logo .flame3 {
  fill: #c41a0c;
  fill-opacity: 0.81410259;
  stroke: none;
}

nav#main-nav {
  background-color: #21252b;
  display: flex;
  flex-direction: row;
}
nav#main-nav a {
  color: #c9c9c9;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  /*width: 100%;*/
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
nav#main-nav a i {
  font-size: 125%;
}
nav#main-nav a:hover {
  text-decoration: none;
  background-color: #2a51a3;
}
nav#main-nav a .label {
  padding: 0px 10px;
}
nav#main-nav a.icon-link {
  padding: 10px;
}
nav#main-nav a.icon-link svg {
  height: 42px;
  width: auto;
  display: inline-block;
}
nav#main-nav ul.nav-right {
  list-style-type: none;
  margin: 0px;
}
nav#main-nav ul.nav-right li {
  float: right;
}
nav#main-nav::after {
  clear: both;
}

.data-widget-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.data-widget {
  border: 3px solid #21252b;
  margin: 5px;
  min-width: 128px;
}
.data-widget .value {
  font-size: 200%;
  font-weight: bold;
  padding: 15px;
  text-align: center;
}
.data-widget .type {
  background-color: #21252b;
  text-align: center;
  padding: 2px 5px;
}

#mqtt {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
#mqtt .mqtt-content {
  display: flex;
  flex-direction: line;
  flex: 1 1 auto;
}

.mqtt-connection-manager {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  display: block;
  height: 100%;
  background-color: #2a51a3;
  text-align: right;
}
.mqtt-connection-manager.connected {
  background-color: #2aa330;
}
.mqtt-connection-manager.connected input, .mqtt-connection-manager.connected select {
  border: 1px solid #258f2a;
}
.mqtt-connection-manager.connected button {
  border: 1px solid #258f2a;
}
.mqtt-connection-manager.connected button:hover {
  background-color: #207a24;
}
.mqtt-connection-manager.error {
  background-color: #b82523;
}
.mqtt-connection-manager.error input, .mqtt-connection-manager.error select {
  border-bottom: 1px solid #a3211f;
}
.mqtt-connection-manager.error button {
  border: 1px solid #a3211f;
}
.mqtt-connection-manager.error button:hover {
  background-color: #8d1c1b;
}
.mqtt-connection-manager input, .mqtt-connection-manager button, .mqtt-connection-manager select {
  color: white;
  background-color: transparent;
  font-size: 14px;
  font-weight: 300;
  padding: 6px;
  border: 1px solid #25478f;
}
.mqtt-connection-manager input, .mqtt-connection-manager select {
  font-family: monospace;
}
.mqtt-connection-manager select {
  text-align: right;
}
.mqtt-connection-manager select option {
  background-color: #282c34;
  text-align: right;
}
.mqtt-connection-manager button {
  margin-left: 10px;
}
.mqtt-connection-manager button:hover {
  background-color: #203d7a;
}

.mqtt-sensor a {
  padding: 10px;
  box-sizing: border-box;
  display: block;
  min-width: 150px;
}

.mqtt-sensor-panel {
  flex: 1 1 auto;
  padding: 15px;
}
.mqtt-sensor-panel h2 {
  margin-top: 0px;
}
.mqtt-sensor-panel h2 button {
  margin-left: 10px;
  text-transform: uppercase;
}
.mqtt-sensor-panel .subscribed-msg {
  display: none;
}
.mqtt-sensor-panel .unsubscribe-action {
  display: none;
}
.mqtt-sensor-panel.subscribed .subscribed-msg {
  display: block;
}
.mqtt-sensor-panel.subscribed .subscribe-action {
  display: none;
}
.mqtt-sensor-panel.subscribed h2 button {
  background-color: #2aa330;
}
.mqtt-sensor-panel.subscribed h2 button:hover {
  background-color: #b82523;
}
.mqtt-sensor-panel.subscribed h2 button:hover .subscribed-msg {
  display: none;
}
.mqtt-sensor-panel.subscribed h2 button:hover .unsubscribe-action {
  display: block;
}

.mqtt-sensors-list {
  display: flex;
  flex-direction: column;
  background-color: #21252b;
}

/*# sourceMappingURL=components.css.map */
