doctype html

html(lang="en")
  head
    meta(charset="utf-8")

    title Fenix

    link(rel="stylesheet", href="styles/font-awesome.min.css")
    link(rel="stylesheet", href="styles/fonts/exo2/stylesheet.css")
    link(rel="stylesheet", href="styles/main.css")
    link(rel="stylesheet", href="styles/components.css")

    template#template-sensor-panel
      include ./templates/sensor-panel.pug

    template#template-mqtt-connection-manager
      include ./templates/mqtt-connection-manager.pug

    template#template-mqtt-sensors-list
      include ./templates/mqtt-sensors-list.pug

  body
    div#container
      include ./includes/nav.pug

      div#main-content
        div#mqtt-sensors-list

    script(src="lib/ui/bundle.js")
