doctype html

html(lang="en")
  head
    meta(charset="utf-8")

    title Fenix

    link(rel="stylesheet", href="styles/font-awesome.min.css")
    link(rel="stylesheet", href="styles/fonts/open-sans.css")
    link(rel="stylesheet", href="styles/main.css")
    link(rel="stylesheet", href="styles/components.css")

  body
    div#container
    script(src="lib/ui/bundle.js")
