doctype html

html(lang="en")
	head
		meta(charset="utf-8")
		
		title Fenix
		
		link(rel="stylesheet", href="../styles/font-awesome.min.css")
		link(rel="stylesheet", href="../styles/main.css")
	
	body
		nav#main-nav
			ul
				li
					a(href="#")
						i.fa.fa-tasks
						span.label Liste
				li
					a(href="#")
						i.fa.fa-plus-circle
						span.label Nouveau
				li
					a.bottom(href="#")
						i.fa.fa-cogs
						span.label Paramètres
		div#main-content
			
