@import '../theme';

.connection-manager {
  margin-top: auto;
  margin-bottom: auto;

  display: block;
  height:100%;

  background-color: $highlight-color;
  transition: background-color,0.5s;

  //text-align: right;

  .status-bar {
    display: flex;
    align-items: center;

    .message {
      display:block;
      flex: 1 1 auto;
      padding: 10px;

      i {
        color: rgba(0, 0, 0, 0.4);
      }
    }

    .toggler {
      height: 100%;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &.connected {
    background-color: $success-color;

    input, select {
      border: 1px solid darken($success-color, 5%);
    }

    button {
      border: 1px solid darken($success-color, 5%);

      &:hover {
        background-color: darken($success-color, 10%);
      }
    }
  }

  &.connecting {
  }

  &.error {
    background-color: $danger-color;

    input, select {
      border-bottom: 1px solid darken($danger-color, 5%);
    }

    button {
      border: 1px solid darken($danger-color, 5%);

      &:hover {
        background-color: darken($danger-color, 10%);
      }
    }
  }

  input, button, select {
    color: white;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 6px;
    border: 1px solid darken($highlight-color, 5%);
  }

  input, select {
    font-family: monospace;
  }

  select {
    text-align: right;

    option {
      background-color: $body-bg;
      text-align: right;
    }
  }

  button {
    margin-left: 10px;

    &:hover {
      background-color: darken($highlight-color, 10%);
    }

    &.toggler {
      border: none;
      font-size: 20px;
      display: inline-block;
    }
  }

  .servers {
    display: none;
    justify-content: flex-end;
    padding: 10px;

    &.opened {
      display: flex;
    }

    .server {
      padding: 10px;
      text-align: center;
      color: rgba(0,0,0,0.2);
      width: 85px;

      .server-name {
        padding: 3px;
      }

      &:hover {
        color: white;
      }
    }

    .add-server {
      align-self: flex-end;
    }
  }
}
