.app-logo {
  .flame1 {
    fill: #c41a0c;
    fill-opacity:1;
    stroke: none;
  }

  .flame2 {
    fill: #e72727;
    fill-opacity: 0.41176471;
    stroke: none;
  }

  .flame3 {
    fill: #c41a0c;
    fill-opacity: 0.81410259;
    stroke: none;
  }
}
