@import '../theme';

.mqtt-connection-manager {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;

  display: block;
  height:100%;

  background-color: $highlight-color;

  text-align: right;

  &.connected {
    background-color: $success-color;

    input, select {
      border: 1px solid darken($success-color, 5%);
    }

    button {
      border: 1px solid darken($success-color, 5%);

      &:hover {
        background-color: darken($success-color, 10%);
      }
    }
  }

  &.connecting {
  }

  &.error {
    background-color: $danger-color;

    input, select {
      border-bottom: 1px solid darken($danger-color, 5%);
    }

    button {
      border: 1px solid darken($danger-color, 5%);

      &:hover {
        background-color: darken($danger-color, 10%);
      }
    }
  }

  input, button, select {
    color: white;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 6px;
    border: 1px solid darken($highlight-color, 5%);
  }

  input, select {
    font-family: monospace;
  }

  select {
    text-align: right;
    
    option {
      background-color: $body-bg;
    }
  }

  button {
    margin-left: 10px;

    &:hover {
      background-color: darken($highlight-color, 10%);
    }
  }
}
