@import '../theme';

.mqtt-sensor-list-item a {
  padding: 10px;
  box-sizing: border-box;
  display: block;
  min-width: 150px;

  .subscribed-icon {
    float: right;
    display:none;
    padding-top: 3px;
    color: lighten($body-bg, 20%);
  }
}

.mqtt-sensor-list-item.subscribed .subscribed-icon {
 display: inline;
}
