#mqtt-connection-manager .mqtt-connection-manager {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;

  display: block;
  height:100%;

  background-color: $highlight-color;

  &.connected {
    background-color: $success-color;

    input {
      border: 1px solid darken($success-color, 5%);
    }

    button {
      border: 1px solid darken($success-color, 5%);

      &:hover {
        background-color: darken($success-color, 10%);
      }
    }
  }

  &.connecting {
  }

  &.error {
    background-color: $danger-color;

    input {
      border-bottom: 1px solid darken($danger-color, 5%);
    }

    button {
      border: 1px solid darken($danger-color, 5%);

      &:hover {
        background-color: darken($danger-color, 10%);
      }
    }
  }

  input, button {
    color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
  }

  input {
    border: none;
    border: 1px solid darken($highlight-color, 5%);
    padding: 10px;
    font-family: monospace;
  }

  button {
    border: 1px solid darken($highlight-color, 5%);
    padding: 10px;
    margin-left: 10px;

    &:hover {
      background-color: darken($highlight-color, 10%);
    }
  }
}
