@import '../theme';

nav#main-nav {
  background-color: $nav-bg;
  //min-height: 62px;
  display: flex;
  flex-direction: row;

  a {
    //display:inline-block;
    //float:left;

    color: darken($nav-fg, 15%);
    font-family: 'Exo 2';
    font-weight: 300;
    font-size: 16px;

    //border-bottom: 1px solid lighten($nav-bg, 5%);
    //width: 100%;
    box-sizing: border-box;
    text-align: left;
    //line-height: 1;

    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    //box-sizing: border-box;
    /*width: 100%;*/
  //  display:block;

    //padding: 20px 20px 20px 10px;
    padding: 20px;

    text-transform: uppercase;
    text-decoration: none;

    i {
      font-size: 125%;
    }

    &:hover {
      text-decoration: none;
      background-color: $highlight-color;
    }

    .label {
      padding: 0px 10px;
    }

    &.icon-link {
      padding: 10px;

      svg {
        height: 42px;
        width: auto;
        display: inline-block;
      }
    }
  }

  ul.nav-right {
    list-style-type: none;
    margin: 0px;

    li {
      float: right;
    }
  }

  &::after {
    clear:both;
  }
}
