fx-sensors-list {
  display: flex;
  flex-direction: column;

  font-weight: 300;

  fx-sensor {
    padding: 8px;
    border-radius: 4px;

    i {
      margin-right: 10px;
    }
    /*&:before {
      content: "\f192";
      padding-right: 5px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }*/

    &:hover {
      background-color: #21B384;
    }
  }
}
