@font-face {
    font-family: 'Exo 2 Black';
    src: url('Exo2.0-Black-webfont.eot');
    src: url('Exo2.0-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2.0-Black-webfont.woff') format('woff'),
         url('Exo2.0-Black-webfont.ttf') format('truetype'),
         url('Exo2.0-Black-webfont.svg#exo_2.0black') format('svg');
    font-weight: normal;
    font-style: normal;
}

