nav#main-nav
  ul
    li
      a(href="#")
        i.fa.fa-fw.fa-tasks
        span.label Listes
        
    li
      a(href="#")
        i.fa.fa-fw.fa-plus-circle
        span.label Nouveau
    li
      a(href="#")
        i.fa.fa-fw.fa-cogs
        span.label Paramètres
