nav#main-nav
  ul
    li
      a.submenu-opener(href="#")
        i.fa.fa-fw.fa-tasks
        span.label Sensors
      div.submenu
        fx-sensors-list
        
    li
      a(href="#")
        i.fa.fa-fw.fa-plus-circle
        span.label Nouveau
    li
      a(href="#")
        i.fa.fa-fw.fa-cogs
        span.label Paramètres
