input(type="text", name="mqtt-server-uri", placeholder="Enter mqtt server uri...")
button.action.action-connect
  i.fa.fa-plug.fa-fw
button.action.action-disconnect
  i.fa.fa-ban.fa-fw
button.action.action-connecting
  i.fa.fa-cog.fa-spin.fa-fw
