$mainBg:     #282c34;
$dark-color: #21252b;

$body-bg: #fdfdfd;
$body-fg: $dark-color;

$nav-bg:      $dark-color;
$nav-fg:      #efefef;
$nav-width:   34px;
$nav-padding: 6px;

$highlightColor: #23527c;

html, body, nav, #main-content {
  min-height: 100%;
  height:100%;
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: $body-bg;
  color: $body-fg;
}

nav#main-nav {
  position:fixed;
  top:0px;
  left:0px;

  ul {
    list-style-type: none;
    min-height: 100%;
    height:100%;
    background-color: $nav-bg;
    padding-left: 0px;
    margin: 0px;

    li {
      a {
        color: darken($nav-fg, 15%);
        font-size: 20px;
        text-align: center;
        float: left;
        display:block;
        line-height: 1;
        padding: $nav-padding;
        text-decoration: none;
        box-sizing: border-box;
        position: relative;

        &:hover {
          text-decoration: none;
        }

        .label {
        }
      }
    }

    &.bottom {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
}
