$mainBg:     #282c34;
$dark-color: #21252b;

$body-bg: #282c34;
$body-fg: #efefef;

$nav-bg:      $dark-color;
$nav-fg:      #efefef;

$highlight-color: #2a51a3; //#23527c;

$danger-color: #b82523;
$warning-color: #a3952a;
$success-color: #2aa330;

$default-font: 'Open Sans';
