@font-face {
    font-family: 'Exo 2';
    src: url('Exo2.0-LightItalic-webfont.eot');
    src: url('Exo2.0-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2.0-LightItalic-webfont.woff') format('woff'),
         url('Exo2.0-LightItalic-webfont.ttf') format('truetype'),
         url('Exo2.0-LightItalic-webfont.svg#exo_2.0light_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

