<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fenix</title>
    <link rel="stylesheet" href="../styles/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="#"><i class="fa fa-tasks"></i><span class="label">Liste</span></a></li>
        <li><a href="#"><i class="fa fa-plus-circle"></i><span class="label">Nouveau</span></a></li>
      </ul>
      <ul class="bottom">
        <li><a href="#" class="bottom"><i class="fa fa-cogs"></i><span class="label">Paramètres</span></a></li>
      </ul>
    </nav>
    <div id="main-content"></div>
  </body>
</html>